.about-us {
  background-image: url('../../assets/BackGround.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-us::before,
.about-us::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.about-us-content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding-left: 6%;
  padding-right: 4%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left-side, .right-side, .right-side-content {
  padding: 3%;
}

.side-image-left img, .right-side img {
  max-width: 77%;
  height: auto;
}

.left-side h1, .right-side-content h1 {
  font-size: 2.5vw;
  margin-bottom: 20px;
}

.left-side p, .right-side-content p {
  font-size: 1.5vw;
  margin-bottom: 20px;
  max-width: 79%;
  margin-right: auto;
  text-align: left;
}

.left-side .button-pair, .right-side-content .button-pair {
  margin-top: 1%;
}
@media (max-width: 768px) {
  .about-us-content-section {
    grid-template-columns: 1fr;
    padding-left: 4%;
    padding-right: 4%;
  }

  .left-side,
  .right-side,
  .right-side-content {
    padding: 3%;
  }

  .left-side h1, .right-side-content h1 {
    font-size: 4vw;
  }

  .left-side p, .right-side-content p {
    font-size: 2vw;
    max-width: 100%;
  }

  .right-side img,
  .side-image-left img {
    max-width: 100%;
  }
}
